
.button{
    -fx-background-color: #17202A;
    -fx-border-radius: 30px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button:hover{
    -fx-background-color: #566573;
    -fx-scale-y: 1.1;
}
.button:focused{
    -fx-background-color: #ff277a;

}
.Home{
    -fx-background-image: url("../img/home.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
